body {
  /* display: inline-block; */
  height: auto;
  margin: auto;
  /* margin-right: auto; */
  max-width: 768px;
  min-width: 480px;
  text-align: center;
}

nav, section {
  border: 1px solid black;
  width: 100%
}
header nav {
  height: 75px;
}

aside nav {
  height: 150px;
}

section:first-of-type, section:nth-child(2) {
  float: left;
  height: 125px;
}

section:nth-child(3), section:nth-child(4), section:nth-child(5), section:nth-child(6) {
  height: 250px;
  float: left;
  width: 50%;
}

footer nav {
  /* display: block; */
  float: right;
  height: 80px;
}